<class name="wrapper">
  <div name="photo">

    <h1>New York Tech Bootcamp Graduates</h1>

    <h3>Learn It. Do It. Share It.</h3>
  </div>
</class>

<div id="displaybox" style="display: none;"></div>
<a href='#' onclick='return clicker();'>Open Window</a>
