<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<header>
	<div class="headerPicture"></div>
</header>
<body>
	<div class="titleMenu">
		<div>
			<i class="fa fa-tachometer"></i>
			<i class="fa fa-university"></i>
			<i class="fa fa-users"></i>
			<i class="fa fa-life-ring"></i>
		</div>
		<div>
			<p>Who We Are</p>
			<p>Events</p>
			<p>Community</p>
			<p>Contact</p>
		</div>
	</div>


</body>
</html>
