<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<header>
	<div class="headerPicture"></div>
	<h3>Learn. Do. Share</h3>
</header>
<body>
	<div class="titleMenu">
		<div>
			<i class="clickToExpand fa fa-tachometer" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="who"> </i>
			<i class="clickToExpand fa fa-university" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="events"></i>
			<i class="clickToExpand fa fa-users" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="community"></i>
			<i class="clickToExpand fa fa-life-ring" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="contact"></i>


		</div>
		<div>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="who">Who We Are</a></p>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="events">Events</a></p>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="community">Community</a></p>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="contact">Contact</a></p>
		</div>
	</div>

	<div id="who" class="hide">
				<h4>Dummy Header</h4>
				<p>

In vitae scelerisque urna, eu molestie neque. Donec tincidunt tempor felis. Vivamus pellentesque consectetur felis, vitae congue turpis cursus placerat. Curabitur sit amet ligula ut nisl luctus volutpat. Mauris eleifend ullamcorper diam a interdum. Curabitur lobortis dictum eros, sit amet feugiat enim ullamcorper et. Nunc fringilla libero in sapien aliquam vehicula. Quisque lacus erat, tristique vitae massa vel, aliquet facilisis est. Mauris pretium nibh id tellus ullamcorper mattis. Suspendisse aliquam porta metus, id congue nisl dignissim et. Nam ut tellus luctus, finibus tellus id, vehicula massa. Sed nec auctor odio. Pellentesque dictum vestibulum sapien at porta. Curabitur fermentum nulla ut nisl consectetur, a scelerisque sem tempor. Ut at quam vel felis hendrerit consequat. In vitae scelerisque urna, eu molestie neque. Donec tincidunt tempor felis. Vivamus pellentesque consectetur felis, vitae congue turpis cursus placerat. Curabitur sit amet ligula ut nisl luctus volutpat. Mauris eleifend ullamcorper diam a interdum. Curabitur lobortis dictum eros, sit amet feugiat enim ullamcorper et. Nunc fringilla libero in sapien aliquam vehicula. Quisque lacus erat, tristique vitae massa vel, aliquet facilisis est. Mauris pretium nibh id tellus ullamcorper mattis. Suspendisse aliquam porta metus, id congue nisl dignissim et. Nam ut tellus luctus, finibus tellus id, vehicula massa. Sed nec auctor odio. Pellentesque dictum vestibulum sapien at porta. Curabitur fermentum nulla ut nisl consectetur, a scelerisque sem tempor. Ut at quam vel felis hendrerit consequat.</p>
	</div>
	<div class="hide" id="events">

				<h4>Dummy Header</h4>
				<p>sque lobortis rutrum. Ut hendrerit finibus sapien sit amet convallis. Fusce in neque imperdiet, egestas urna sed, feugiat mauris. Nulla urna risus, volutpat quis magna a, tincidunt elementum odio. Sed scelerisque suscipit euismod. Duis sit amet libero vitae metus imperdiet congue. Quisque quam nisi, hendrerit sit amet turpis ut, posuere bibendum ligula.
</p>
	</div>
	<div class="hide" id="community">

				<h4>Dummy Header</h4>
				<p>on sem. Sed tempus sed augue a eleifend. Nam diam mi, ultrices ac purus non, porttitor sodales lectus. Nunc auctor magna dolor, vel venenatis nunc feugiat a. Donec euismod nunc aliquam, vehicula felis at, efficitur metus. Vestibulum consectetur cursus pretium.In vitae scelerisque urna, eu molestie neque. Donec tincidunt tempor felis. Vivamus pellentesque consectetur felis, vitae congue turpis cursus placerat. Curabitur sit amet ligula ut nisl luctus volutpat. Mauris eleifend ullamcorper diam a interdum. Curabitur lobortis dictum eros, sit amet feugiat enim ullamcorper et. Nunc fringilla libero in sapien aliquam vehicula. Quisque lacus erat, tristique vitae massa vel, aliquet facilisis est. Mauris pretium nibh id tellus ullamcorper mattis. Suspendisse ali</p>
	</div>
	<div class="hide" id="contact">


				<form>
					<h4>Contact Us</h4>

				<input type="text" name="name" value="Name">


				<input type="text" name="email" value="Email">

				<textarea type="text" name="Comment" value="comment"></textarea>
				<button type="submit" value="Submit">Submit</button>
				</form>

	</div>



</body>
</html>
